h1 {
	text-align:center;
    color:black;
    background-color:blue;
    font-size:40px;
}               
img {
	width:50%;
	height:auto;
}
h2 {
    text-align:center;
    font-size:40px;
	color:blue;
    background-color:black;
}
h3 {
	color:red;
}
p {
    text-align:justify;
    padding: 20px;
}
td{
    text-align:justify;
    padding: 20px;
}
ul{
	list-style-type: square;
}
.button {
			display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            text-align: center;
            margin: 20px auto;
            }
.button:hover {
                background-color: #45a049;
}