body {
            background-color: #f8f9fa;
            padding: 0;
			color #333;
        }
        header {
            background-color: #003366;
			color: #ffffff;
            padding: 20px 0;
            text-align: center;
        }
        h1 {
            font-size: 40px;
			text-align:center;
        }
        main {
            padding: 20px;
        }
        footer {
            background-color: #003366;
            color: #ffffff;
            text-align: center;
            padding: 10px 0;
            margin-top: 20px;
        }
		p {
			text-align:justify;
			padding: 20px;
		}
        ul {
            padding-left: 20px;
			list-style-type: square;
        }
        h2 {
            text-align:center;
			font-size:40px;
			color:red
        }
        img {
            max-width: 100%;
            height: auto;
        }
		.nav-buttons {
            margin: 20px 0;
            text-align: center;
        }
        .btn-primary {
            background-color: #003366;
            border: none;
        }
        .btn-primary:hover {
            background-color: #00509e;
        }
		h6 {
			text-align:center;
		}
		

